.profile-pic {
    max-width: 300px;
    max-height: 300px;
    image-resolution:inherit;
   position: relative;
   
}

#about {
    color:blue;
    padding: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:normal;
    position: relative;
    word-spacing: 6px;
    line-height: 30px;

    /* background: url(../images/header.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
max-height: 200vh;
height: 100%; */
}

